<!-- Loading -->
<div id="loadingModal" class="modal" tabindex="-1" role="dialog" style="display:none; background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background: transparent; border: none;">
            <div class="modal-body text-center">
                <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <p class="text-white">Đang tải...</p>
            </div>
        </div>
    </div>
</div>