@{
    ViewData["Title"] = "Thanh toán thất bại";
}

<div class="main-box">
    <h4 class="payment-titlte">Thanh toán thất bại</h4>
    <p>Nếu có bất kỳ câu hỏi nào, hãy gửi email tới <a href="mailto:support@payos.vn">support@payos.vn</a></p>
    <a href="/" id="return-page-btn">Trở về trang Tạo Link thanh toán</a>
</div>
