@{
    ViewData["Title"] = "Quên mật khẩu";
}

<section>
    <div class="form-box">
        <!-- quên mật khẩu -->
        <div id="Forgotpassword" class="form-box-card form-Forgotpassword">
            <form asp-action="ForgotPassword" method="post">
                <div class="logo">
                    <img src="~/images/logo.png" alt="">
                </div>
                <div class="input-box">
                    <i class="icon fa-solid fa-envelope"></i>
                    <input id="email2" type="text" name="Email" class="log-input" required>
                    <label for="">Email</label>
                    <span></span>
                </div>
                <div>
                    <button type="submit" class="btn-submit">Lấy lại mật khẩu</button>
                </div>
                <div class="come-back forget-password">
                    <p><a href="login.html" id="btnlogin">Đăng Nhập</a></p>
                    <p><a href="register.html" id="btnregister">Đăng Kí</a></p>
                </div>
            </form>
        </div>
    </div>
</section>